.container {
  float: right;
  text-align: right;
  margin-top: -30px;
  z-index: 9999;
}
.btn-lg {
  font-family: "Optima", Optima, Optima;
  background: rgb(77, 50, 20);
  background: linear-gradient(90deg, rgba(147, 96, 38, 1) 58%);
  color: white;
}
