.nav-link {
  color: #947850;
}
.navbar-toggler:focus {
  box-shadow: none;
}

#ditem:hover {
  color: #5c3716;
}
.dropdown-item:hover {
  background: rgb(36, 26, 0);
  background: linear-gradient(
    90deg,
    rgba(36, 26, 0, 0.18000703699448528) 0%,
    rgba(164, 90, 15, 0.11558126668636204) 52%,
    rgba(102, 67, 1, 0.19121151878720233) 100%
  );
}
.li a {
  color: red;
}
a {
  color: #947850;
}

#cart {
  color: rgb(57, 197, 2);
}
#cart:hover {
  color: #5c3716;
}

#logo {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
